.input-wrapper {
    position: relative !important;
    margin: 10px auto !important;
}
.form-control {
    display: block !important;
    margin: 0 !important;
    padding-left: 10px !important;
    font-size: 14px !important;
    /*border: 1px solid #f4f4f4 !important;*/
    background-color: #f4f4f4 !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    font-weight: 500 !important;
}
.form-control:focus {
    /*border: 1px solid #66615b !important;*/
    border: 1px solid #2c7ac9 !important;
    background-color: #fff !important;
}
.control-label {
    display: block !important;
    position: absolute !important;
    opacity: 0 !important;
    bottom: 1.9rem !important;
    color: #5d5d5d !important;
    transition: 0.2s ease-in-out transform !important;
    font-size: 12px !important;
}
.form-control:placeholder-shown + .control-label {
    visibility: hidden !important;
    z-index: -1 !important;
    transition: 0.2s ease-in-out !important;
}
.form-control:not(:placeholder-shown) + .control-label,
.form-control:focus:not(:placeholder-shown) + .control-label {
    visibility: visible !important;
    z-index: 1 !important;
    opacity: 1 !important;
    transform: translateY(-10px) !important;
    transition: 0.2s ease-in-out transform !important;
}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*Move he original checkbox out of the way */
[type="checkbox"].fancy-check {
    position: absolute;
    left: -9999px;
    padding-left: 0 !important;
    margin-bottom: 0.5rem!important;
}
/*Align the icon and the label text to same height using tabl-cell display*/
/*If you change the font-size of the text, you may also want to do som padding or alignhment changes here*/
.fancy-check ~ label >  span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
/*The label will contain the icon and the text, will grab the focus*/
[type="checkbox"].fancy-check + label {
    cursor: pointer;
    display: table;
}
/*The icon container, set it to fixed size and font size, the padding is to align the border*/
/*If you change the font-size of this icon, be sure to adjust the min-width as well*/
[type="checkbox"].fancy-check + label:before {
    font-family: 'FontAwesome';
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid transparent;
    font-size: 28px;
    min-width: 28px;
    padding: 2px 0 0 0px;
}
/* toggle font awsome icon*/
[type="checkbox"].fancy-check:checked + label:before {
    content: "\f14a";
    color: #2ca01c;

}
[type="checkbox"].fancy-check:not(:checked) + label:before {
    content: "\f0c8";
}
/*Do something on focus, in this case show dashed border*/
[type="checkbox"].fancy-check:focus + label:before {
    border: 1px dashed #6c757d;
}
/*Do something on hover, in this case change the image color*/
[type="checkbox"].fancy-check:hover + label:before {
    color: #2ca01c;
}

body {
    background-color:#ffffff;
}
a, a.fb i {
    text-decoration:none ;
    color:#349beb
}
i {
    font-size:32px;
}
.cus-img-wid{
    width: 100%;
    padding-right: 0px!important;
    padding-left: 0px!important;
}
/*button {*/
/*width:200px;*/
/*height:150px;*/
/*float:left;*/
/*margin-left:50px;*/
/*margin-right:50px;*/
/*margin-top:50px;*/
/*margin-bottom:50px;*/
/*background:#fff;*/
/*border:none;*/
/*outline:none;*/
/*border-left:1px solid #fff;*/
/*color:#349beb;*/
/*font-size:1.1em;*/
/*letter-spacing:1px;*/
/*font-weight:bold ;*/
/*text-transform:capitalize ;*/
/*border-radius:10px;*/
/*overflow:hidden ;*/
/*transition:.5s;*/
/*}*/



/*.social-icons a.fb i{*/
/*color: #000;*/
/*font-size:38px;*/
/*}*/

.left-icon-holder {
    position:relative;
}
.left-icon-holder .fa {
    position:absolute;
    line-height: 24px;
    top:50%;
    margin-top: -12px; / Half of line height to keep left middle postion of container /
left: 10px;
}

.addm{
    border-bottom: 1px solid #dddddd!important;
    padding: 16px 0px 0 16px;
    margin-left: 3px;
}
